* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin: 30px 0;
}
.empty-link {
  display: flex;
  height: 100%;
}
.content-links {
  height: 100%;
}
.news-links {
  height: 100%;
}
.flex-item-link {
  width: 100%;
  height: 100%;
}
body {
  background-color: #faf4f4;
  color: var(--mantine-color-gray-9);
}
.empty-box {
  display: none;
}
.header-flex-news {
  width: 100%;
  display: flex;
  justify-content: end;
}
  .container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
  }
  .news-text-flex {
    width: 100%;
    height: 100%;
  }
.lang {
  display: flex;
  justify-content: center;
}
.lang-sel {
  width: 100px;
  height: 100px;
}
.box {
  height: 50px;
  width: 100%;
}
.btn-all {
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  background-color: #fff;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.input-auth {
  border: none;
}
.document-box {
  border: 1px solid var(--mantine-color-blue-6);
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.btn-all:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}
.btn {
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: var(--mantine-color-blue-6);
}
.btn:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}
.btn-contact {
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.nav {
  display: block;
}
.header-flex {
  height: 30px;
}
.btn-page {
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  font-weight: bold;
}
.btn-page:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}

.title {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
}
.teacher-title {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
  padding: auto;
}
.header {
  padding: 20px ;
  width: 100%;
  background-color: #fff;
}
  .news-content-flex {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .img-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .box-footer {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  .header-news {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .welcome-about-item {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;
  }
  .img-about{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;

    }
  .footer {
    width: 100%;
    background-color: #fff;
  }
  .news-header {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }
  .news-box {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .news-item-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .flex-text-box-item {
    height: 150px;
    width: 100%;
  }
  .box-image-flex {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .news-item-flex {
    width: 100%;
    height: 100%;
  }
  .news-item {
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    overflow: hidden;
  }
  .school-hours {
    height: fit-content;
    border-radius: 20px;
  }
.img-news {
  height: 500px;
  object-fit: fill;
}
.link-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-box-item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}
.link-text {
  flex: 1;
}
.link-icon {
  display: flex;
  align-items: end;
  justify-self: end;
  flex: 1;
}
.header-links {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.title-link {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
  height: 100%;
  width: 100%;
}

.news-links-flex {
  width: 100%;
  height: 100%;
}
.images-header {
  margin-bottom: 20px;
}
.home-box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.teachers-flex {
  height: 100%;
  width: 100%;
}
.teachers-items-flexs {
  width: 100%;
  height: 100%;
}
.teacher-item-flex {
  width: 100%;
  height: 100%;
}
.images-section {
  height: 720px;
}
.teacher-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-teacher-flex {
  width: 100%;
}
.teacher {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.teachers-header {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title-teachers {
  font-size: 29px;
  font-weight: 700;
  color: var(--mantine-color-blue-6);
}
.tab-section {
  height: 300px;
  margin: 30px 0;
}
.tab-list {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid var(--mantine-color-blue-6);
  padding: 3px;
  width: fit-content;
}

.tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leadership {
  height: 400px;
}
.leadership-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.items-leader {
  flex: 1;
}
.leader-flex {
  height: 100%;
}
.leader-title {
  font-size: 40px;
  font-weight: 700;
}
.news-page-flex {
  width: 100%;
  height: 100%;
}
.icon-leader {
  border-radius: 50px;
  padding: 10px;
  background-color: #ddd9d9;
}
.flex-box-item-page {
  width: 100%;
  height: 100%;
}
.inner-flex-item {
  width: 100%;
  height: 100%;
}
.new-item-page {
  margin-top: 20px;
}
.back-to-news {
  width: fit-content;
}
.related-flex {
  height: 100%;
}
.new-img {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  object-fit: fill;
}
.related-item {
  height: 100%;
  border-radius: 20px;
  background-color: var(--mantine-color-blue-6);
  padding: 20px;
  margin-bottom: 20px;
}
.question-box-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  background-color: var(--mantine-color-blue-7);
  border-radius: 20px;
  margin: 10px;
}
.quest-btn {
  width: fit-content;
}
.item-study {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid var(--mantine-color-blue-6);
  padding: 20px;
}
.item-study-box {
  display: flex;
  align-self: start;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--mantine-color-blue-6);
  border-radius: 20px;
  margin: 10px;
  gap: 10px;
}
.link-quest {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.inner-box-quest {
  background-color: var(--mantine-color-blue-6);
  padding: 20px;
  border-radius: 20px;
}
.inner-box-quest * {
  color: #fff;
}
.related-image {
  width: 96px;
  height: 48px;
  object-fit: fill;
  border-radius: 10px;
}
.accordion {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.related-item * {
  color: #fff;
}
.related-item-2 {
  width: 100%;
  height: 100%;
  border: 1px solid var(--mantine-color-blue-6);
  padding: 20px;
  border-radius: 20px;
}
.related-news {
  width: 450px;
  height: fit-content;
  padding: 10px;
}
.new-desc {
  margin: 20px 0;
}
.li-new {
  margin: 10px 20px;
}
.title-page {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.new-box-page {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
}
.image-box-item-inner {
  width: 100%;
  height: 275px;
  object-fit: fill;
}
.news-box-page {
  width: 100%;
  height: 100%;
}
.image-box-item {
  width: 100%;
  height: 100%;
}
.news-page-section {
  height: 1200px;
}
.flex-item-leader {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.teachers-item-teacher {
  height: 100%;
  width: 100%;
}
.teachers-box {
  width: 100%;
  height: 100%;
}
.tab-box {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  
}
.tab-item {
  background-color: #fff;
  border: 1px solid var(--mantine-color-blue-6);
  border-radius: 20px;
  padding: 10px;
  flex: 1;
}
.home-flex {
  height: 100%;
}
.news-flex {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@media (min-width: 480px) {
  .nav {
    display: none;
  }
  .images-box {
    height: 100%;
  }
  .box-flex {
    height: 100%;
  }
  .images-flex {
    height: 100%;
  }
  .bg-img {
    display: none;
  }
}

@media (min-width: 768px) {
  .empty-link {
    display: none;
  }
  .empty-box {
    display: inline;
  }
  .btn-burger {
    display: block;
  }
  .nav {
    display: none;
  }
  .bg-img {
    display: none;
  }
  .img-item {
    border: 1px solid black;
  }
  .imgs-flex {
    height: 100%;
  }
}
@media (min-width: 1024px) {
.btn-burger {
  display: none;
}
  .nav {
    display: block;
  }
  .about-item-title {
    background-color: rgba(255, 239, 239, 1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-item {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .bg-img {
    width: 100%;
    height: 100%;
  }
  .about-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  .img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    


  }
  .bg-img {
    display: block;
  }
  .img-item-section {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .images-header {
    display: flex;
    align-items: center;
    gap: 70%;
    margin: 10px;
  }
  .title-img {
    flex: 1;
    text-align: start;
    font-size: large;
    color: var(--mantine-color-blue-6);
    font-weight: 900;
  }
  .imgs-flex {
    width: 100%;
    height: 100%;

  }
  .img-item {
    border-radius: 20px;
    overflow: hidden;
  }
  .box-flex {
    width: 100%;
    height: 100%;
  }

  .images-box {
    width: 100%;
    height: 100%;
  }
  .images-flex {
    width: 100%;
    height: 100%;
  }
  .event-item-flex {
    width: 100%;
    height: 100%;
  }
  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-content-item-flex {
    height: 100%;
    width: 100%;
  }
  .about-item-text {
    font-size: 24px;
    color: var(--mantine-color-blue-6);
    text-align: center;
  }

  .event-btn {
    border-radius: 20px;
  }
  .event-item {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--mantine-color-gray-3);
  }
  .btn-filled {
    color: #fff;
    border-radius: 20px;
    border: none;
  }
  .about-content-flex, .about-header-flex, .about-items-flex, .about-item-flex {
    width: 100%;
    height: 100%;
  }
  .about-flex {
    width: 100%;
    height: 100%;
  }
  .about-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
  }
}