* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin: 30px 0;
}
body {
  background-color: #faf4f4;
  color: var(--mantine-color-gray-9);
}
.empty-box {
  display: none;
}
.img-news {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
 
  .container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
  }
  .news-text-flex {
    width: 100%;
    height: 100%;
  }
.lang {
  display: flex;
  justify-content: center;
}
.lang-sel {
  width: 100px;
  height: 100px;
}
.box {
  height: 50px;
  width: 100%;
}
.btn-all {
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  background-color: #fff;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.btn-all:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}
.btn {
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: var(--mantine-color-blue-6);
}
.btn:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}
.btn-contact {
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.nav {
  display: block;
}
.header-flex {
  height: 30px;
}
.btn-page {
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  font-weight: bold;
}
.btn-page:hover {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}

.title {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
}
.teacher-title {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
  padding: auto;
}
.header {
  padding: 20px ;
  width: 100%;
  background-color: #fff;
}
  .news-content-flex {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .img-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .box-footer {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  .header-news {
    width: 100%;  
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 50vh;
    background-color: #fff;
  }
  .news-header {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }
  .news-box {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .news-item-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .flex-text-box-item {
    height: 150px;
    width: 100%;
  }
  .box-image-flex {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .news-item-flex {
    width: 100%;
    height: 100%;
  }
  .news-item {
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    overflow: hidden;
  }

.link-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-box-item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}
.link-text {
  flex: 1;
}
.link-icon {
  display: flex;
  align-items: end;
  justify-self: end;
  flex: 1;
}
.header-links {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.title-link {
  font-weight: bold;
  color: var(--mantine-color-blue-6);
  height: 100%;
  width: 100%;
}
.news-links {
  width: 100%;
  height: 100%;
}
.news-links-flex {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.images-header {
  margin-bottom: 20px;
}
.home-box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.teachers-flex {
  height: 100%;
  width: 100%;
}
.teachers-items-flexs {
  width: 100%;
  height: 100%;
}
.teacher-item-flex {
  width: 100%;
  height: 100%;
}
.teacher-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-teacher-flex {
  height: 100%;
  width: 100%;
}
.teacher {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.teachers-header {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title-teachers {
  font-size: 29px;
  font-weight: 700;
  color: var(--mantine-color-blue-6);
}
.teachers-item-teacher {
  height: 100%;
  width: 100%;
}
.teachers-box {
  width: 100%;
  height: 100%;
}
.home-flex {
  height: 100%;
}
.news-flex {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 480px) {
  .nav {
    display: none;
  }
  .teachers {
    height: 300vh;
  }
  .last-news {
    height: 280vh;
  }
  .images-box {
    height: 100%;
  }
  .box-flex {
    height: 100%;
  }
  .images-flex {
    height: 100%;
  }
  .section {
    width: 100%;
    height: 70vh;
  }
  .images-section {
    height: 100vh;
  }
  .footer {
    height: 180vh;
  }
  .bg-img {
    display: none;
  }
}

@media (min-width: 768px) {
  .empty-link {
    display: none;
  }
  .teachers {
    height: 160vh;
  }
  .footer {
    height: 70vh;
  }
  .last-news {
    height: 200vh;
  }
  .empty-box {
    display: inline;
  }
  .btn-burger {
    display: block;
  }
  .nav {
    display: none;
  }
  .bg-img {
    display: none;
  }
  .img-item {
    border: 1px solid black;
  }
  .about-section {
    height: 130vh;
  }
  .imgs-flex {
    height: 100%;
  }
}
@media (min-width: 1024px) {
.btn-burger {
  display: none;
}
  .section {
    width: 100%;
    height: 70vh;
    margin: 30px 0;
  }
  .last-news {
    width: 100%;
    height: 120vh;
    margin: 30px 0;
  }
  .teachers {
      width: 100%;
      height: 140vh;
      margin: 30px 0;
  }
  .nav {
    display: block;
  }
  .about-item-title {
    background-color: rgba(255, 239, 239, 1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-item {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .about-section {
    height: 250vh;
  }
  .bg-img {
    width: 100%;
    height: 100%;
  }
  .about-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  .img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    


  }
  .footer {
    height: 40vh;
  }
  .bg-img {
    display: block;
  }
  .img-item-section {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .images-header {
    display: flex;
    align-items: center;
    gap: 70%;
    margin: 10px;
  }
  .title-img {
    flex: 1;
    text-align: start;
    font-size: large;
    color: var(--mantine-color-blue-6);
    font-weight: 900;
  }
  .images-section {
    width: 100%;
    height: 85vh;
  }
  .imgs-flex {
    width: 100%;
    height: 100%;

  }
  .img-item {
    border-radius: 20px;
    overflow: hidden;
  }
  .box-flex {
    width: 100%;
    height: 100%;
  }

  .images-box {
    width: 100%;
    height: 100%;
  }
  .images-flex {
    width: 100%;
    height: 100%;
  }
  .event-item-flex {
    width: 100%;
    height: 100%;
  }
  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-content-item-flex {
    height: 100%;
    width: 100%;
  }
  .about-item-text {
    font-size: 24px;
    color: var(--mantine-color-blue-6);
    text-align: center;
  }

  .event-btn {
    border-radius: 20px;
  }
  .event-item {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--mantine-color-gray-3);
  }
  .btn-filled {
    color: #fff;
    border-radius: 20px;
    border: none;
  }
  .about-section {
    width: 100%;
    height: 120vh;
    margin: 30px 0;
  }
  .about-content-flex, .about-header-flex, .about-items-flex, .about-item-flex {
    width: 100%;
    height: 100%;
  }
  .about-flex {
    width: 100%;
    height: 100%;
  }
  .about-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
  }
}

@media (min-width: 1440px) {
  .teachers {
    height: 160vh;
  }
}